<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>614870004242-h008pn9f0htnslj6m8u55amkp7claq1d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.614870004242-h008pn9f0htnslj6m8u55amkp7claq1d</string>
	<key>API_KEY</key>
	<string>Replace with your api key</string>
	<key>GCM_SENDER_ID</key>
	<string>614870004242</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lchen.SudoSui</string>
	<key>PROJECT_ID</key>
	<string>sudosui</string>
	<key>STORAGE_BUCKET</key>
	<string>sudosui.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:614870004242:ios:e7dd66701a4bf35d30decb</string>
</dict>
</plist>
